/*Write more CSS to do the following:
 - a transition on the section elements that when hovered on, the background color changes to something else
 - give a border to the section elements and a border radius of 10px
 - set up the document to use ems or rems based off of a 62.5% root font size
 - a transition that moves the <p> tags over a few pixels when you hover over them (and back when you aren't hovering)*/

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #eeeeee;
	font-size: .625em;
}

p {
	margin: 10px 0;
	font-weight: bold
}
p:hover{
	margin-left: 50px;
}
section {
	margin-bottom: 10px;
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
}
section:hover{
	background-color: #BABCD2;
}
ul {
	list-style: none;
}

#thirdSection{
	border: none;
}
#thirdSection:hover{
	background-color: white;
}
.accordion{
	outline: none;
	border: none;
	background-color: #BABCD2;
	width: 100%;
	padding: 10px;
	text-align: left;
	font-weight: bold;
}
.accordion:hover{
	background-color: #6E7B8B;
}
.accordion-content{
	display: none;
}
.accordian-content-show{
	display: block;
}
